{% extends "timeclock/base.html" %}

{% block content %}
<div id="date-inputs">
    <div>
        <label for="start">Start</label>
        <input id="start" class="form-control border border-secondary" type="date">
    </div>
    <div>
        <label for="end">End</label>
        <input id="end" class="form-control border border-secondary" type="date">
    </div>
    <button id="generate-button" class="btn">Generate Report</button>
</div>

{% load static %}
<script src="{% static 'timeclock/js/index.js' %}"></script>

{% endblock %}